.summary_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 15px;
  margin: 0 15px 30px;
  border: 0.81px solid var(--brand-dff);
  border-radius: 12px;
}

.summary_cards .card {
  padding: 16px 30px 16px 16px;
  width: 100%;
  border-right: 0.81px solid var(--brand-dff);
}

.summary_cards .card:last-child {
  border-right: none;
}

.summary_cards .card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary_cards .icon {
  font-size: 24px;
  margin-right: 10px;
}

.summary_cards h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.summary_cards p {
  font-family: Montserrat;
  font-size: 12.92px;
  font-weight: 400;
  line-height: 19.38px;
}

.summary_cards .card-footer {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.summary_cards .trends img {
  margin-right: 7px;
}

.summary_cards .arrow {
  font-size: 16px;
  margin-right: 5px;
}

.summary_cards .percentage {
    font-family: Montserrat;
    font-size: 11.31px;
    font-weight: 400;
    line-height: 16.96px;
    color: var(--brand-db5);
}
