:root {
  --font-family: "Satoshi", sans-serif;

  --brand-primary: #0C420A;
  --brand-secondary: #FFC204;
  --nav-background: #fff;
  --brand-white: #fff;
  --brand-grey: #36383A;
  --brand-home-users-h3: #488746;
  --brand-home-users-p: #868788;
  --brand-aaa: #aaa;
  --ready-background: #DAEBD9;
  --brand-footer-text-location: #373634;
  --footer-copyright-tex: #656565;





}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}


h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 57.6px;
  letter-spacing: -0.05em;
}
