:root {
  --font-family: "Satoshi", sans-serif;

  --brand-primary: #0C420A;
  --brand-secondary: #FFC204;
  --nav-background: #fff;
  --brand-white: #fff;
  --brand-black:   #04000B;
  --brand-grey: #36383A;
  --brand-home-users-h3: #488746;
  --brand-home-users-p: #868788;
  --brand-aaa: #aaa;
  --ready-background: #DAEBD9;
  --brand-footer-text-location: #373634;
  --footer-copyright-tex: #656565;
  --about-h3: #878680;
  --about-why-us-bg: #FAFAFA;
  --brand-66: #666666;
  --brand-e4: #E4E4E4;
  --brand-f47: #4BAF47;
  --brand-27c: #7DA27C;
  --brand-f6: #F6F6F6;
  --brand-A80: #0C420A80;
  --brand-56: #565656;
  --brand-D9: #D9D9D9;








}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}



