.top_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 60px 0px var(--brand-01A);
  padding: 5px 110px 5px 100px;
}

.top_nav .top_nav_items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.top_nav_items .search {
  position: relative;
}

.top_nav_items .search input {
  padding: 12px 40px;
  outline: none;
  border: 1px solid var(--brand-484);
  color: var(--brand-484);
  border-radius: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.2px;
}

.top_nav_items .search img {
  position: absolute;
  left: 10px;
  top: 10px;
}

.top_nav_items .notifications {
  padding: 15px 22px;
  position: relative;
  /* background-color: red; */
}

.top_nav_items .notifications span {
  position: absolute;
  right: 25px;
  top: 18px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--brand-primary);
  font-size: 4.75px;
  font-weight: 500;
  line-height: 6.41px;
  color: var(--brand-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_nav .user_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.top_nav .user_info h1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 21.6px;
  margin: 0 0 1px;
  color: var(--brand-024);
}

.top_nav .user_info p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.2px;
  color: var(--brand-484);
}

/* Main Content */
.main_content {
  padding: 60px 30px 0 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 30px;
}

.main_content .sidebar {
  padding: 0 30px;
}

.sidebar .sidebar_content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar .sidebar_content a {
  text-decoration: none;
  color: var(--brand-black);
}

.sidebar .sidebar_content .active-link .sidebar_item span {
  background-color: var(--brand-primary);
  color: var(--brand-white);
}

.sidebar .sidebar_content .active-link path {
  fill: var(--brand-white);
}

.sidebar .sidebar_content .logout_box {
  padding: 200px 0 0;
}

.sidebar .sidebar_content .sidebar_item span {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 36px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
}

.sidebar .sidebar_content .sidebar_item span .title {
  width: 121px;
}
